.iconlp,em,i{font-style:normal}
.loader-demo,.tc{text-align:center}
body,button,dd,dl,dt,fieldset,form,hr,input,legend,p,td,textarea,th{margin:0;padding:0}
body{background:#f5f7fa;font-family:Source Sans Pro,sans-serif;color:#656565}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%;outline:0}
textarea{resize:none}
table{border-collapse:collapse}
p{margin:0 0 10px}
a{outline:0!important}
h1,h2,h3,h4{font-weight:700}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
.hide{display:none}
.l{float:left!important}
.r{float:right!important}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mr5{margin-right:5px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.pt10{padding-top:10px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.f13{font-size:13px}
.f14{font-size:14px}
@font-face{font-family:iconfont;src:url(//at.alicdn.com/t/font_1460016189_4095185.eot);src:url(//at.alicdn.com/t/font_1460016189_4095185.eot?#iefix) format('embedded-opentype'),url(//at.alicdn.com/t/font_1460016189_4095185.woff) format('woff'),url(//at.alicdn.com/t/font_1460016189_4095185.ttf) format('truetype'),url(//at.alicdn.com/t/font_1460016189_4095185.svg#iconfont) format('svg')}
body,html{height:100%}
.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:transparent}
.iconlp{font-family:iconfont;line-height:1;font-size:16px;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px}
.wrapper{position:relative;width:100%;height:auto;min-height:100%;overflow-x:hidden}
.wrapper .topnavbar{margin-bottom:0;padding:0 30px;border:0;border-radius:0;background-color:#ec2121;color:#fff}
.wrapper .topnavbar .lp-nav{margin:0;padding:0;list-style:none;float:left}
.wrapper .topnavbar .lp-nav>li{position:relative;float:left;list-style:none}
.wrapper .topnavbar .lp-nav>li>a{position:relative;display:block;padding:17px 15px;line-height:21px;outline:0;text-decoration:none;color:#fff}
.wrapper .topnavbar .lp-nav>li>a .label{position:absolute;top:10px;right:0;padding:2px 5px}
.wrapper .topnavbar .lp-nav>li>a:focus,.wrapper .topnavbar .lp-nav>li>a:hover{color:#9a0d0d;background-color:transparent}
.wrapper>.aside{position:absolute;width:220px;top:55px;left:0;bottom:0;z-index:116;background-color:#3a3f51;-webkit-transition:width .2s,translate .2s;transition:width .2s,translate .2s;overflow:hidden}
.wrapper>.aside .aside-inner{margin-right:-17px;overflow-y:scroll}
.wrapper>.aside .aside-inner>.sidebar>li{border-left:3px solid transparent}
.wrapper>.aside .aside-inner>.sidebar>li.active{border-left-color:#f05050}
.wrapper>.aside .aside-inner>.sidebar>li em{display:inline-block;width:25px;font-size:14px;line-height:1;font-style:normal;font-weight:400}
.wrapper>.aside .aside-inner .sidebar{margin:0;padding:0;list-style:none}
.wrapper>.aside .aside-inner .sidebar .nav-heading{padding:12px 15px;color:#919da8;font-size:13px;letter-spacing:.035em;pointer-events:none;cursor:default;-webkit-animation:fadeIn 1s;animation:fadeIn 1s}
.wrapper>.aside .aside-inner .sidebar li{-webkit-transition:border-left-color .4s ease;transition:border-left-color .4s ease;color:#e1e2e3}
.wrapper>.aside .aside-inner .sidebar li>a{display:block;padding:12px 24px;font-weight:400;cursor:pointer;text-decoration:none;-webkit-animation:fadeInLeft .5s;animation:fadeInLeft .5s;color:#e1e2e3}
.wrapper>.aside .aside-inner .sidebar li.active>a,.wrapper>.aside .aside-inner .sidebar li>a:hover{color:#f05050}
.wrapper>.aside .aside-inner .sidebar li .sidebar-subnav li>a{padding-left:53px}
.wrapper>section{position:relative;height:100%;margin-left:0;z-index:111;background-color:#f5f7fa;margin-bottom:60px!important}
.wrapper>footer{position:absolute;left:0;right:0;bottom:0;height:60px;border-top:1px solid #e4eaec;padding:20px;z-index:109}
.content-wrapper{padding:20px;width:100%;border-top:1px solid rgba(0,0,0,.15);margin-top:-1px}
.content-wrapper>.content-heading,.content-wrapper>h3{margin:-20px -20px 20px;padding:20px;font-size:24px;line-height:1.1;color:#929292;font-weight:400;background-color:#fafbfc;border-bottom:1px solid #cfdbe2}
.content-wrapper>.content-heading>small,.content-wrapper>h3>small{display:block;font-size:12px;color:#909fa7}
.btn-label,.loader-demo>div{display:inline-block}
.loader-demo{height:150px;padding-top:50px;background:#ed5565}
.loader-demo>div div{box-sizing:content-box}
.panel .panel-heading{border-bottom:0;font-size:14px}
.panel .panel-heading a{text-decoration:none!important}
.panel .panel-heading>a[data-tool]{display:inline-block;color:#fff;width:2em;text-align:center}
.panel.panel-default{border-top-width:3px}
.panel.panel-default .panel-heading{color:#444;background-color:#fff}
.panel.panel-default .panel-heading>a[data-tool]{color:#c1c2c3}
@media only screen and (min-width:768px){.wrapper>footer,.wrapper>section{margin-left:220px}
}
@media only screen and (max-width:767px){.wrapper>.aside{-webkit-transform:translate3d(-220px,0,0);transform:translate3d(-220px,0,0);-webkit-transition:-webkit-transform .3s ease;transition:transform .3s ease}
}
@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}
to{opacity:1;-webkit-transform:none;transform:none}
}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}
.btn{border-radius:3px;font-size:13px;border-color:transparent;-webkit-appearance:none;outline:0!important;-webkit-transition:all .1s;transition:all .1s}
.btn.btn-default{border-color:#eaeaea}
.btn-label{position:relative;padding:6px 16px;left:-13px;background:0 0;background:rgba(0,0,0,.05);border-radius:3px 0 0 3px}
.btn-labeled{padding-top:0;padding-bottom:0}
.btn-label.btn-label-right{left:auto;right:-13px;border-radius:0 3px 3px 0}
.btn-oval,.btn-pill-right{border-top-right-radius:50px;border-bottom-right-radius:50px;padding-right:18px}
.btn-oval,.btn-pill-left{border-top-left-radius:50px;border-bottom-left-radius:50px;padding-left:18px}
.btn-square{border-radius:0}
.page-header{border-bottom-color:#e4eaec}
.nav-tabs>li>a{font-weight:700;color:#515253;background-color:#edf1f2;margin:0;border:1px solid #dde6e9;border-radius:0;padding:10px 20px}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:inherit;border-bottom-color:#fff}
.tab-content{padding:10px 20px;border-style:solid;border-width:0 1px 1px;border-color:#dde6e9}